<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132753462-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-132753462-1');

			function gtag_report_conversion(url) {
				var callback = function () {
					if (typeof(url) != 'undefined') {
						window.location = url;
					}
				};
				gtag('event', 'conversion', {
						'send_to': 'AW-1000840204/HW8-CMzWtZMBEIy4nt0D',
						'event_callback': callback
				});
				return false;
			}
		</script>
		<!-- END Global site tag (gtag.js) - Google Analytics -->
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '386272838876245');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=386272838876245&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

		<title>Gallery | Gallery Website</title>
		<meta charset="utf-8" />
		<meta name="google-site-verification" content="RrGgWmJyCsG54v0KAzvzWiBCVlZs-ao3x4ABx2YrWog" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="../../../public/images/gallery-logo1.png" type="image/x-icon" />
		<link rel="shortcut icon" href="../../../public/images/gallery-logo1.png" type="image/x-icon" />
		<link rel="manifest" href="/manifest.json" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				xfbml            : true,
				version          : 'v3.2'
			});
		};

		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Your customer chat code -->
	<div class="fb-customerchat"
		attribution=setup_tool
		page_id="723173014389923"
		greeting_dialog_display="hide"
		logged_in_greeting="Hi! We are here to help."
		logged_out_greeting="Hi! We are here to help.">
	</div>
	<!-- END Loading Facebook SDK for Javascript -->

	<!-- Hot Jar -->
	<script>
		(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1230786,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<!-- END Hot Jar -->
