<div class="jumbotron-fluid">
    <% include partials/navbar %>
</div>

<main>
    <div class="container">

        <h1 class="font-weight-bold text-center mt-4 mb-0">Challenges</h1>

        <h3 class="font-weight-light text-center mt-4 mb-0">Upload photos and videos to win prizes</h3>

        <hr class="mt-2 mb-5">

        <h4 class="font-weight-bold text-lg-left mt-4 mb-3">Active Challenges</h4>

        <div class="row text-center text-lg-left">
            <div class="col">
                <div class="container">
                    <div class="card challenges-card">
                        <div class="row">
                            <div class="col">
                                <img src="https://images.pexels.com/photos/5091150/pexels-photo-5091150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200"
                                    alt="Card image cap">
                                <div class="row-card">
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/3420044/pexels-photo-3420044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200"
                                            alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row-card">
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/4734723/pexels-photo-4734723.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=200&w=200"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/4946409/pexels-photo-4946409.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200"
                                            alt="Card image cap">
                                    </div>
                                </div>
                                <div class="row-card">
                                    <img src="https://images.pexels.com/photos/5829277/pexels-photo-5829277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200"
                                        alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">City Streets</h5>
                            <p class="card-text">Submit your best street photography for a chance to win.</p>
                            <i class="fa fa-camera challege-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="card challenges-card">
                        <div class="row">
                            <div class="col">
                                <img src="https://images.pexels.com/photos/5529735/pexels-photo-5529735.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                    alt="Card image cap">
                                <div class="row-card">
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/240174/pexels-photo-240174.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/5105055/pexels-photo-5105055.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                            alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row-card">
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/3828217/pexels-photo-3828217.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-card">
                                        <img src="https://images.pexels.com/photos/5212813/pexels-photo-5212813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=200&w=200"
                                            alt="Card image cap">
                                    </div>
                                </div>
                                <div class="row-card">
                                    <img src="https://images.pexels.com/photos/5074172/pexels-photo-5074172.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=200"
                                        alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Classic Black and White</h5>
                            <p class="card-text">Submit your best black and white shoots for a chance to win.</p>
                            <i class="fa fa-camera challege-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <h4 class="font-weight-bold text-lg-left mt-5 mb-3">Past Challenges</h4>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5655163/pexels-photo-5655163.jpeg?cs=srgb&dl=pexels-cottonbro-5655163.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3727219/pexels-photo-3727219.jpeg?cs=srgb&dl=pexels-elizaveta-dushechkina-3727219.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5749758/pexels-photo-5749758.jpeg?cs=srgb&dl=pexels-alex-kozlov-5749758.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $200 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Airy</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5055815/pexels-photo-5055815.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-5055815.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5623083/pexels-photo-5623083.jpeg?cs=srgb&dl=pexels-thiago-giardini-5623083.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/670791/pexels-photo-670791.jpeg?cs=srgb&dl=pexels-lukas-rychvalsky-670791.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $390 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Red and Light</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5014213/pexels-photo-5014213.jpeg?cs=srgb&dl=pexels-sinitta-leunen-5014213.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/2519216/pexels-photo-2519216.jpeg?cs=srgb&dl=pexels-laura-stanley-2519216.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/2453486/pexels-photo-2453486.jpeg?cs=srgb&dl=pexels-rikki-matsumoto-2453486.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $400 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Passion and Confidence</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5653411/pexels-photo-5653411.jpeg?cs=srgb&dl=pexels-cottonbro-5653411.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5245215/pexels-photo-5245215.jpeg?cs=srgb&dl=pexels-olya-kobruseva-5245215.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4695333/pexels-photo-4695333.jpeg?cs=srgb&dl=pexels-lucas-oliveira-4695333.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $250 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Love and Passion</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/5672029/pexels-photo-5672029.jpeg?cs=srgb&dl=pexels-fillipe-gomes-5672029.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/2479882/pexels-photo-2479882.jpeg?cs=srgb&dl=pexels-wellington-cunha-2479882.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5612321/pexels-photo-5612321.jpeg?cs=srgb&dl=pexels-thirdman-5612321.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/5591890/pexels-photo-5591890.jpeg?cs=srgb&dl=pexels-daniela-constantini-5591890.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/3393705/pexels-photo-3393705.jpeg?cs=srgb&dl=pexels-maryia-plashchynskaya-3393705.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3876308/pexels-photo-3876308.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876308.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/4906326/pexels-photo-4906326.jpeg?cs=srgb&dl=pexels-maria-orlova-4906326.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/3328339/pexels-photo-3328339.jpeg?cs=srgb&dl=pexels-hakeem-james-hausley-3328339.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3341605/pexels-photo-3341605.jpeg?cs=srgb&dl=pexels-andrew-neel-3341605.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3330256/pexels-photo-3330256.jpeg?cs=srgb&dl=pexels-moises-besada-3330256.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/3444534/pexels-photo-3444534.jpeg?cs=srgb&dl=pexels-neemias-seara-3444534.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3483786/pexels-photo-3483786.jpeg?cs=srgb&dl=pexels-ag-z-3483786.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3354887/pexels-photo-3354887.jpeg?cs=srgb&dl=pexels-ave-calvar-martinez-3354887.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/3367459/pexels-photo-3367459.jpeg?cs=srgb&dl=pexels-yogendra-singh-3367459.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3324591/pexels-photo-3324591.jpeg?cs=srgb&dl=pexels-francesco-ungaro-3324591.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3329110/pexels-photo-3329110.jpeg?cs=srgb&dl=pexels-olenka-sergienko-3329110.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $460 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Light and Life</h4>
                </div>
            </div>&nbsp;
            <div class="col box-challenges">
                <div class="container">
                    <div class="row-past-challenges">
                        <div class="col-past-challenges">
                            <img src="https://images.pexels.com/photos/3449122/pexels-photo-3449122.jpeg?cs=srgb&dl=pexels-bianca-salgado-3449122.jpg&fm=jpg"
                                alt="Card image cap">
                        </div>
                        <div class="col-past-challenges">
                            <div class="container">
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?cs=srgb&dl=pexels-stein-egil-liland-3408744.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                                    <div class="row-past-challenges">
                                        <img src="https://images.pexels.com/photos/3348363/pexels-photo-3348363.jpeg?cs=srgb&dl=pexels-max-ravier-3348363.jpg&fm=jpg"
                                        alt="Card image cap">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="font-weight-light text-lg-left mt-2 mb-2 h6-height">EXPIRED • $500 CASH PRIZE</h6>
                    <h4 class="font-weight-bold text-lg-left">Hope and Faith</h4>
                </div>
            </div>&nbsp;
        </div>

    </div>
</main>

<% include partials/navfooter %>
</main>