<div class="jumbotron-fluid">
    <% include partials/navbar %>
</div>

<main>
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-4">Popular Collections</h1>

        <div class="discover-popular-buttons">
            <button type="button" class="discover-btn">Turkey</button>&nbsp;
            <button type="button" class="discover-btn">Thanksgiving Dinner</button>&nbsp;
            <button type="button" class="discover-btn">Thanksgiving Gift</button>
        </div>

        <hr class="mt-2 mb-5">

        <div class="container">
            <div class="row text-center text-lg-left">
                <div class="col box">
                    <img src="https://images.pexels.com/photos/5054086/pexels-photo-5054086.jpeg?cs=srgb&dl=pexels-thirdman-5054086.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4153418/pexels-photo-4153418.jpeg?cs=srgb&dl=pexels-mikael-blomkvist-4153418.jpg&fm=jpg/200x200"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4058712/pexels-photo-4058712.jpeg?cs=srgb&dl=pexels-cottonbro-4058712.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5711517/pexels-photo-5711517.jpeg?cs=srgb&dl=pexels-diva-plavalaguna-5711517.jpg&fm=jpg"
                                    alt="">
                            </div>
                            <div class="d-flex">
                                <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4254152/pexels-photo-4254152.jpeg?cs=srgb&dl=pexels-gustavo-fring-4254152.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5077422/pexels-photo-5077422.jpeg?cs=srgb&dl=pexels-cottonbro-5077422.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5619681/pexels-photo-5619681.jpeg?cs=srgb&dl=pexels-sinitta-leunen-5619681.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4633866/pexels-photo-4633866.jpeg?cs=srgb&dl=pexels-fadlan-al-sabil-4633866.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="d-flex">
                                <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4784034/pexels-photo-4784034.jpeg?cs=srgb&dl=pexels-ivan-samkov-4784034.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4125789/pexels-photo-4125789.jpeg?cs=srgb&dl=pexels-tatiane-herder-4125789.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5206294/pexels-photo-5206294.jpeg?cs=srgb&dl=pexels-anthony-shkraba-5206294.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4125789/pexels-photo-4125789.jpeg?cs=srgb&dl=pexels-tatiane-herder-4125789.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-4">Photography Topics</h1>

        <div class="discover-popular-buttons">
            <button type="button" class="discover-btn">Food Photography</button>&nbsp;
            <button type="button" class="discover-btn">People Photography</button>&nbsp;
            <button type="button" class="discover-btn">Nature Photography</button>
        </div>

        <hr class="mt-2 mb-5">

        <div class="container">

            <div class="row text-center text-lg-left">
                <div class="col box">
                    <img src="https://images.pexels.com/photos/5082615/pexels-photo-5082615.jpeg?cs=srgb&dl=pexels-vanessa-loring-5082615.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4624964/pexels-photo-4624964.jpeg?cs=srgb&dl=pexels-ivan-samkov-4624964.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4226324/pexels-photo-4226324.jpeg?cs=srgb&dl=pexels-anna-shvets-4226324.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5710645/pexels-photo-5710645.jpeg?cs=srgb&dl=pexels-diva-plavalaguna-5710645.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4337845/pexels-photo-4337845.jpeg?cs=srgb&dl=pexels-roberta-sampaio-4337845.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4471253/pexels-photo-4471253.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4471253.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4612130/pexels-photo-4612130.jpeg?cs=srgb&dl=pexels-cottonbro-4612130.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4612130/pexels-photo-4612130.jpeg?cs=srgb&dl=pexels-cottonbro-4612130.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4471252/pexels-photo-4471252.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4471252.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4569907/pexels-photo-4569907.jpeg?cs=srgb&dl=pexels-cottonbro-4569907.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4236826/pexels-photo-4236826.jpeg?cs=srgb&dl=pexels-anastasia-shuraeva-4236826.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4153173/pexels-photo-4153173.jpeg?cs=srgb&dl=pexels-cottonbro-4153173.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-4">Backgrounds and Cover Photos</h1>

        <div class="discover-popular-buttons">
            <button type="button" class="discover-btn">Blogging and Cover Photos</button>
        </div>

        <hr class="mt-2 mb-5">

        <div class="container">
            <div class="row text-center text-lg-left">
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4145033/pexels-photo-4145033.jpeg?cs=srgb&dl=pexels-julia-m-cameron-4145033.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/3846160/pexels-photo-3846160.jpeg?cs=srgb&dl=pexels-anna-shvets-3846160.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4620799/pexels-photo-4620799.jpeg?cs=srgb&dl=pexels-cottonbro-4620799.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4960268/pexels-photo-4960268.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4960268.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4236827/pexels-photo-4236827.jpeg?cs=srgb&dl=pexels-anastasia-shuraeva-4236827.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4236824/pexels-photo-4236824.jpeg?cs=srgb&dl=pexels-anastasia-shuraeva-4236824.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4723518/pexels-photo-4723518.jpeg?cs=srgb&dl=pexels-polina-tankilevitch-4723518.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4262421/pexels-photo-4262421.jpeg?cs=srgb&dl=pexels-august-de-richelieu-4262421.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>&nbsp;
                <div class="col box">
                    <img src="https://images.pexels.com/photos/4503740/pexels-photo-4503740.jpeg?cs=srgb&dl=pexels-cottonbro-4503740.jpg&fm=jpg"
                        alt="">
                    <div class="container">
                        <div class="row-popular">
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4003792/pexels-photo-4003792.jpeg?cs=srgb&dl=pexels-cottonbro-4003792.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/4153167/pexels-photo-4153167.jpeg?cs=srgb&dl=pexels-cottonbro-4153167.jpg&fm=jpg"
                                    alt=""></div>
                            <div class="col"><img
                                    src="https://images.pexels.com/photos/5206289/pexels-photo-5206289.jpeg?cs=srgb&dl=pexels-anthony-shkraba-5206289.jpg&fm=jpg"
                                    alt=""></div>
                                    <div class="d-flex">
                                        <h6 class="p-2 flex-fill bd-highlight">Groupies with love ones</h6>
                                        <i class="p-2 flex-fill fa fa-thumbs-up icon"></i>&nbsp;
                                        <i class="p-2 flex-fill fa fa-heart icon" aria-hidden="true"></i>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-4">Discover Photos by Color</h1>

        <div class="discover-popular-buttons">
            <button type="button" class="discover-btn">Red</button>&nbsp;
            <button type="button" class="discover-btn">Green</button>&nbsp;
            <button type="button" class="discover-btn">Blue</button>&nbsp;
            <button type="button" class="discover-btn">Yellow</button>

        </div>

        <hr class="mt-2 mb-5">

        <div class="row-color">
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?cs=srgb&dl=pexels-artem-saranin-1547813.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg?cs=srgb&dl=pexels-adonyi-g%C3%A1bor-1558916.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/301673/pexels-photo-301673.jpeg?cs=srgb&dl=pexels-pixabay-301673.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/593159/pexels-photo-593159.jpeg?cs=srgb&dl=pexels-scott-webb-593159.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">Red</h5>
                    </div>
                </div>
            </div>
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/548391/pexels-photo-548391.jpeg?cs=srgb&dl=pexels-kat-jayne-548391.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1070603/pexels-photo-1070603.jpeg?cs=srgb&dl=pexels-ba-phi-1070603.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1751279/pexels-photo-1751279.jpeg?cs=srgb&dl=pexels-designecologist-1751279.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1461804/pexels-photo-1461804.jpeg?cs=srgb&dl=pexels-fotografierende-1461804.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">Yellow</h5>
                    </div>
                </div>
            </div>
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4462781/pexels-photo-4462781.jpeg?cs=srgb&dl=pexels-antonio-dillard-4462781.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?cs=srgb&dl=pexels-darwis-alwan-1995730.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/3876407/pexels-photo-3876407.jpeg?cs=srgb&dl=pexels-tomas-anunziata-3876407.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4466054/pexels-photo-4466054.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4466054.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">Green</h5>
                    </div>
                </div>
            </div>
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/2608495/pexels-photo-2608495.jpeg?cs=srgb&dl=pexels-drew-williams-2608495.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/2608410/pexels-photo-2608410.jpeg?cs=srgb&dl=pexels-drew-williams-2608410.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/3135801/pexels-photo-3135801.jpeg?cs=srgb&dl=pexels-kaique-rocha-3135801.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/2823459/pexels-photo-2823459.jpeg?cs=srgb&dl=pexels-adrien-olichon-2823459.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">Black</h5>
                    </div>
                </div>
            </div>
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4590785/pexels-photo-4590785.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4590785.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/3616764/pexels-photo-3616764.jpeg?cs=srgb&dl=pexels-la-miko-3616764.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4725716/pexels-photo-4725716.jpeg?cs=srgb&dl=pexels-polina-tankilevitch-4725716.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4386355/pexels-photo-4386355.jpeg?cs=srgb&dl=pexels-alleksana-4386355.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">White</h5>
                    </div>
                </div>
            </div>
            <div class="col-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/3607083/pexels-photo-3607083.jpeg?cs=srgb&dl=pexels-tom%C3%A1%C5%A1-mal%C3%ADk-3607083.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/2860705/pexels-photo-2860705.jpeg?cs=srgb&dl=pexels-aaron-ulsh-2860705.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><img
                                src="https://images.pexels.com/photos/4327786/pexels-photo-4327786.jpeg?cs=srgb&dl=pexels-jess-vide-4327786.jpg&fm=jpg"
                                alt=""></div>
                        <div class="col"><img
                                src="https://images.pexels.com/photos/3894157/pexels-photo-3894157.jpeg?cs=srgb&dl=pexels-innermost-limits-3894157.jpg&fm=jpg"
                                alt=""></div>
                    </div>
                    <div class="container-color">
                        <h5 class="font-weight-bold text-center mt-2 ml-2">Blue</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/navfooter %>
</main>