<div class="jumbotron-fluid">
    <% include partials/navbar %>

    <div class="videowrapper">
        <div class="fullScreenDiv">
            <video class="video" role="presentation" preload="auto" playsinline="" crossorigin="anonymous" loop=""
                muted="" autoplay="" class="blur">
                <source src="images/production ID_4460336.mp4" type="video/webm">
            </video>
            <div class="container">
                <div class="videoMessage">
                    <h1 class="h1-height">The best gallery for free stock photos & videos.</h1>
                    <h4 class="font-weight-light">Share with us your awesome photos and videos.</h4>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="searchbar font-weight-light" type="search"
                            placeholder="Search for free photos and videos" aria-label="Search">
                        <button class="search-button font-weight-light"
                            style="vertical-align:middle"><span>Search</span>
                        </button>
                    </form>
                    <h6 class="font-weight-light"> Suggested: computer, audio, mobile, social media, youtube,
                        technology, more</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Photo and Video Gallery</h1>
        <hr class="mt-2 mb-5">

        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <video width="500" height="auto" preload="auto" autoplay loop muted>
                        <source src="images/pexels-olya-kobruseva-5236593.mp4" type="video/mp4">
                    </video>
                    <img src="https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg?cs=srgb&dl=pexels-chris-czermak-2444429.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2792157/pexels-photo-2792157.jpeg?cs=srgb&dl=pexels-ian-beckley-2792157.jpg&fm=jpg"
                        alt="">
                    <div>
                        <img src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?cs=srgb&dl=pexels-ricardo-esquivel-1964471.jpg&fm=jpg"
                            alt="">
                    </div>
                    <img src="https://images.pexels.com/photos/1910236/pexels-photo-1910236.jpeg?cs=srgb&dl=pexels-bruno-thethe-1910236.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4099355/pexels-photo-4099355.jpeg?cs=srgb&dl=pexels-taryn-elliott-4099355.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3965563/pexels-photo-3965563.jpeg?cs=srgb&dl=pexels-ksenia-chernaya-3965563.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2438798/pexels-photo-2438798.jpeg?cs=srgb&dl=pexels-josh-hild-2438798.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4155446/pexels-photo-4155446.jpeg?cs=srgb&dl=pexels-cottonbro-4155446.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg?cs=srgb&dl=pexels-chris-czermak-2444429.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2792157/pexels-photo-2792157.jpeg?cs=srgb&dl=pexels-ian-beckley-2792157.jpg&fm=jpg"
                        alt="">
                    <div>
                        <img src="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?cs=srgb&dl=pexels-ricardo-esquivel-1964471.jpg&fm=jpg"
                            alt="">
                    </div>
                    <img src="https://images.pexels.com/photos/1910236/pexels-photo-1910236.jpeg?cs=srgb&dl=pexels-bruno-thethe-1910236.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4099355/pexels-photo-4099355.jpeg?cs=srgb&dl=pexels-taryn-elliott-4099355.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3965563/pexels-photo-3965563.jpeg?cs=srgb&dl=pexels-ksenia-chernaya-3965563.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2438798/pexels-photo-2438798.jpeg?cs=srgb&dl=pexels-josh-hild-2438798.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4155446/pexels-photo-4155446.jpeg?cs=srgb&dl=pexels-cottonbro-4155446.jpg&fm=jpg"
                        alt="">

                </div>
                <div class="col">
                    <img src="https://images.pexels.com/photos/704977/pexels-photo-704977.jpeg?cs=srgb&dl=pexels-daria-shevtsova-704977.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2440079/pexels-photo-2440079.jpeg?cs=srgb&dl=pexels-ian-beckley-2440079.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/132428/pexels-photo-132428.jpeg?cs=srgb&dl=pexels-anthony-132428.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3937174/pexels-photo-3937174.jpeg?cs=srgb&dl=pexels-sharad-kachhi-3937174.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3378993/pexels-photo-3378993.jpeg?cs=srgb&dl=pexels-ruvim-3378993.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3534471/pexels-photo-3534471.jpeg?cs=srgb&dl=pexels-vishal-shah-3534471.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2475386/pexels-photo-2475386.jpeg?cs=srgb&dl=pexels-jairus-v-bellen-2475386.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2420540/pexels-photo-2420540.jpeg?cs=srgb&dl=pexels-moe-shammout-2420540.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/704977/pexels-photo-704977.jpeg?cs=srgb&dl=pexels-daria-shevtsova-704977.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2440079/pexels-photo-2440079.jpeg?cs=srgb&dl=pexels-ian-beckley-2440079.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/132428/pexels-photo-132428.jpeg?cs=srgb&dl=pexels-anthony-132428.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3937174/pexels-photo-3937174.jpeg?cs=srgb&dl=pexels-sharad-kachhi-3937174.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3378993/pexels-photo-3378993.jpeg?cs=srgb&dl=pexels-ruvim-3378993.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3534471/pexels-photo-3534471.jpeg?cs=srgb&dl=pexels-vishal-shah-3534471.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2475386/pexels-photo-2475386.jpeg?cs=srgb&dl=pexels-jairus-v-bellen-2475386.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2420540/pexels-photo-2420540.jpeg?cs=srgb&dl=pexels-moe-shammout-2420540.jpg&fm=jpg"
                        alt="">
                </div>
                <div class="col">
                    <img src="https://images.pexels.com/photos/4665930/pexels-photo-4665930.jpeg?cs=srgb&dl=pexels-emeric-laperriere-4665930.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/1554740/pexels-photo-1554740.jpeg?cs=srgb&dl=pexels-myicahel-tamburini-1554740.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-2603464.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4067759/pexels-photo-4067759.jpeg?cs=srgb&dl=pexels-cottonbro-4067759.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4219757/pexels-photo-4219757.jpeg?cs=srgb&dl=pexels-wherbson-rodrigues-4219757.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2886284/pexels-photo-2886284.jpeg?cs=srgb&dl=pexels-vincent-ma-janssen-2886284.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2710131/pexels-photo-2710131.jpeg?cs=srgb&dl=pexels-jeremy-bishop-2710131.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2796232/pexels-photo-2796232.jpeg?cs=srgb&dl=pexels-grisha-stern-2796232.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4665930/pexels-photo-4665930.jpeg?cs=srgb&dl=pexels-emeric-laperriere-4665930.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/1554740/pexels-photo-1554740.jpeg?cs=srgb&dl=pexels-myicahel-tamburini-1554740.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-2603464.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4067759/pexels-photo-4067759.jpeg?cs=srgb&dl=pexels-cottonbro-4067759.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/4219757/pexels-photo-4219757.jpeg?cs=srgb&dl=pexels-wherbson-rodrigues-4219757.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2886284/pexels-photo-2886284.jpeg?cs=srgb&dl=pexels-vincent-ma-janssen-2886284.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2710131/pexels-photo-2710131.jpeg?cs=srgb&dl=pexels-jeremy-bishop-2710131.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/2796232/pexels-photo-2796232.jpeg?cs=srgb&dl=pexels-grisha-stern-2796232.jpg&fm=jpg"
                        alt="">
                    <img src="https://images.pexels.com/photos/3981646/pexels-photo-3981646.jpeg?cs=srgb&dl=pexels-daria-shevtsova-3981646.jpg&fm=jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>

    <% include partials/navfooter %>
</main>