<div class="jumbotron-fluid">
    <% include partials/navjoin %>
</div>

<main>
    <div class="container">

        <h1 class="font-weight-bold text-center mt-5 mb-5">What do you mainly want do?</h1>

        <div class="row text-center text-lg-left">
            <div class="col">
                <div class="container">
                    <div class="card join-card">
                        <div class="row">
                            <div class="col">
                                <img src="https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?cs=srgb&dl=pexels-vlada-karpovich-4050315.jpg&fm=jpg"
                                    alt="Card image cap">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title font-weight-light">I'm here to download free photos and videos.</h6>
                            <button class="join-button font-weight-light mt-2" style="vertical-align:middle">
                                <span>I want to download</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="card join-card">
                        <div class="row">
                            <div class="col">
                                <img src="https://images.pexels.com/photos/318391/pexels-photo-318391.jpeg?cs=srgb&dl=pexels-adrianna-calvo-318391.jpg&fm=jpg"
                                    alt="Card image cap">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title font-weight-light">I'm here to share my photos and videos with the
                                world.</h6>
                                <button class="join-button font-weight-light" style="vertical-align:middle">
                                    <span>I want to contribute</span>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5 mb-5"><h6 class="font-weight-light">We’ll use this info to personalize your experience. You’ll always be able to both download and upload photos and videos, no matter which option you choose.</h6></div>
    </div>
</main>